@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid indianred;*/
}

:root {
    --mobile-bg-color: #F9C48B;
    --tablet-bg-color: #F69051;
    --desktop-bg-color: #F26D40;
    --text-color: #260803;
    --text-bg-color: #FDEFEC;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: var(--mobile-bg-color);
    color: var(--text-color);
}

/*////////////////////////
    2. Typography
////////////////////////*/

h2 {
    margin: 0 0 .5rem 0;
}

/*////////////////////////
    3. Areas
////////////////////////*/

.text-container {
    display: flex;
    flex-direction: column;
    background-color: var(--text-bg-color);
    margin: 1.5rem;
    padding: 2rem;
    border-radius: .5rem;
    gap: 0.5em;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

.image-novi-response {
    width: 100%;
}
/*////////////////////////
    4. Media Queries
////////////////////////*/


/*Dit is voor een tablet*/
@media  screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }

    body {
        background-color: var(--tablet-bg-color);
    }

}

/*Dit is voor een desktop*/
@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }

    body {
        background-color: var(--desktop-bg-color);
    }
}